.btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    background: white;
}

.btn-outline{
    border: 1px solid black;
}

.black-button{
    background-color: black;
}

.btn-anim-left{
    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: all .3s ease-out;
}

.btn-anim-left:hover {
    color: white;
    background-position:left;   
}