.divHome .divMain{
    position: relative;
    display: flex;
    background-image: url(../assets/images/main-s.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.divHome .fewProjects{
    padding: 5vh 0px;
}


.divHome .fewProjects h2{
    font-size: 25px;
    font-family: "Poppins";
    text-align: center;
}



@media (min-width: 992px) { 
    .divHome .divMain{
        background-position-x: center;
        background-image: url(../assets/images/main-m.jpg);
    }
}

@media (min-width: 1700px) { 
    .divHome .divMain{
        background-image: url(../assets/images/main-l.jpg);
    }
}